<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico">
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    <div id="container">
      {% include 'authnav.html' %}

      <div id="smalllogo"><a href="/"><img src="/static/images/small_logo.png" border="0"/></a></div>

      <div class="section gray bm20">CLIENTS</div>            
      <div style="overflow:hidden;padding-left:15px;">
      {% for c in clients %}
        <a href="/dashboard2/{{c.slug}}/">{{c.name}}</a></br>
      {% endfor %}
      </div>           
      <div class="section gray bm20">SUPPORT CONTACT</div>            
      <div style="overflow:hidden;">
        <div class="med medsize" style="float:left;margin-left:15px">
          Tel: +1 (888) 947 3969<br/>
          Fax: +1 (206) 299 9340<br/>
          <br/>
          Email: <a href="mailto:support@kiteandlightning.com">support@kiteandlightning.com</a>
        </div>
      </div>  
      
    </div>
  </body>
</html>
