<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>Kite &amp; Lightning</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico">
    <meta name="google-site-verification" content="aDD4CfCN_7h7TSHsSNQgJBUlNsQdLW2Jsnz3NDuuAzQ" />
  </head>
  <body>
    <div id="container">
      {% include 'authnav.html' %}
      <div id="logo"><a href="/" id="logo_roll"></a></div>
      <div style="overflow:hidden;">
        <div id="nav">
          <a href="#product"><img alt="Product" src="/static/images/button_product.gif" width="74" height="26" border="0"></a>
          <a href="#whoweare"><img alt="Who We Are" src="/static/images/button_whoweare.gif" width="97" height="26" border="0"></a>
          <a href="#contact"><img alt="Contact" src="/static/images/button_contact.gif" width="72" height="26" border="0"></a>
        </div>
        <div id="soc">
          <a href="http://www.facebook.com/pages/Kite-Lightning/107018342683888" target="_new"><img src="/static/images/button_fb.gif" alt="Visit us on Facebook!" width="27" height="26" border="0"/></a>
          <a href="http://www.twitter.com/kite_lightning" target="_new"><img src="/static/images/button_twitter.gif" width="27" height="26" alt="Follow us on Twitter!" border="0"/></a>
        </div>
      </div>
      <div class="headline">Hello, we're K<span class="reg">&amp;</span>L. We build smart products that conserve energy and save you money.</div>
      <a name="product"><div class="section">PRODUCT</div></a>
      <div style="overflow:hidden;">
        <div style="float:left;margin-left:15px;width:275px;">
          <div class="subhead">This is Unity.</div>
          <div class="headcopy">Our revolutionary energy conservation solution &mdash; effective and affordably priced.<br/><br/><a style="text-decoration:underline;" href="/static/downloads/Restaurant_PDF.pdf">Read more</a></div>
        </div>
        <div style="float:right;margin-right:15px;">
          <a href="#getstarted"><img src="/static/images/unity_large.png" width="651" height="403" border="0"></a>
        </div>
      </div>
      <div style="overflow:hidden;padding-bottom:20px;">
        <div class="featurebox feature1">
          <div class="subsubhead">Designed for busy building owners, not engineers.</div>
          <div class="subcopy">Unity delivers best-in-class control and energy savings in a package that is remarkably easy to use.</div>
        </div>
        <div class="featurebox feature2">
          <div class="subsubhead">Advanced, battle-hardened wireless communication.</div>
          <div class="subcopy">Unity incorporates a sophisticated, channel-hopping mesh network that maintains excellent communication in even the harshest environments.</div>
        </div>
        <div class="featurebox feature3">
          <div class="subsubhead">Awesome savings potential.</div>
          <div class="subcopy">With the most extensive feature-set in its class, Unity creates unmatched savings as well as providing robust reporting, monitoring and control.</div>
        </div>
      </div>
      <div class="section"></div>
      <div style="overflow:hidden;padding-bottom:20px;">
        <div style="float:left;margin-left:15px;width:265px;">
          <div class="subhead">Access Unity Anywhere!</div>
          <div class="headcopy">With full-featured remote access, Unity allows you to manage your facility from anywhere in the world.</div>
        </div>
        <div style="float:right;margin-right:15px;">
          <img src="/static/images/unity_laptop.png" width="659" height="408">
        </div>
      </div>
      <div class="section"></div>
      <div style="overflow:hidden;">
        <div style="float:left;margin-left:15px;width:340px;">
          <div class="subhead">Maximum Control.<br/>Maximum Savings.</div>
          <div class="headcopy">Unity is an extremely flexible system capable of integrating into almost any building from 5-50,000 sq. feet.<br/><br/>Here's a typical installation topography:</div>
        </div>
        <div style="float:right;">
          <img src="/static/images/topo_map.gif" width="576" height="718">
        </div>
      </div>
      <a name="getstarted"><div class="section">GET STARTED</div></a>
      <div style="overflow:hidden;">
        <div style="float:left;margin-left:15px;width:460px;">
          <div class="subhead" style="margin-bottom:10px;">Getting started is easy!</div>
          <div class="headcopy">By choosing Unity you're not only gaining access to the most powerful energy management and conservation solution on the market, you're also teaming up with nationally recognized experts in the field.<br/><br/>Our team has been developing robust energy management systems for over a decade, and has directly overseen the successful rollout of over 1,200 solutions across the country. We're excited to maximize the efficiency of your facility - it's what we do.  So give us a call, we make it easy!</div>
        </div>
        <div style="float:right;margin-right:15px;">
          <img src="/static/images/map.gif" width="429" height="291">
        </div>
      </div>
      <a name="whoweare"><div class="section">WHO WE ARE</div></a>
      <div style="margin-left:15px;padding-bottom:20px;">
        <div style="margin-bottom:20px;"><img src="/static/images/company.gif" width="212" height="79"></div>
        <div class="bigcopy">
          <p>Kite &amp; Lightning is a Seattle-based software development firm that creates high-performance, well-crafted energy management solutions.</p>
          <p>We combine over a decade of experience in the industry with best-in-class user experience and advanced energy management science. The result is a state of the art solution that delivers jaw dropping efficiency with maximum ease of use.</p>
        </div>
      </div>
      <a name="contact"><div class="section">CONTACT</div></a>
      <div style="overflow:hidden;padding-bottom:50px;">
        <div style="float:left;margin-left:15px;width:340px;border-right:1px solid #e6e6e6;">
          <img src="/static/images/logo_small.gif" width="194" height="44">
          <div style="margin-top:20px;">
            <span class="key">Tel:</span> <span class="val">+1 (888) 947 3969</span><br/>
            <span class="key">Fax:</span> <span class="val">+1 (206) 299 9340</span>
          </div>
          <div style="margin-top:20px;">
            <span class="key">Email:</span> <span class="val"><a class="text" href="mailto:info@kiteandlightning.com">info@kiteandlightning.com</a></span>
          </div>
        </div>
        <div style="float:left;margin-left:20px;">
          <img src="/static/images/ben.gif" width="303" height="75">
        </div>
      </div>

    </div>
  </body>
</html>
